/* vesel-ios-theme.css 
 * created by Andrew Hart MSCNS @andruwhart
*/

/* themed styles */


/* animations */

@-webkit-keyframes iosFadeLeft {
  0%  { 
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;   
  }

  100% { 
    -webkit-transform: translateX(-25%); 
            transform: translateX(-25%);
    opacity: 0.9; 
  }
}

@keyframes iosFadeLeft {
  0%  { 
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;   
  }
  
  100% { 
    -webkit-transform: translateX(-150px); 
            transform: translateX(-150px);
    background-color: 000;
    opacity: 0.9; 
  }
}

.iosFadeLeft {
  -webkit-animation-name: iosFadeLeft;
          animation-name: iosFadeLeft;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  -webkit-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
          animation-timing-function: cubic-bezier(.1, .7, .1, 1);
}


@-webkit-keyframes iosSlideInRight {
  0% {
    opacity: 0.9;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes iosSlideInRight {
  0% {
    opacity: 0.9;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.iosSlideInRight {
  -webkit-animation-name: iosSlideInRight;
          animation-name: iosSlideInRight;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  -webkit-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
          animation-timing-function: cubic-bezier(.1, .7, .1, 1);
}


.contentMask {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.1);
	        box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.1);
}


.page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 100%;

  /* scrolling */
  overflow-y: scroll; /* has to be scroll */
  -webkit-overflow-scrolling: touch;
}
