/* vesel-ios-theme.css 
 * created by Andrew Hart MSCNS @andruwhart
*/

/* themed styles */


/* animations */

@-webkit-keyframes iosFadeLeft {
  from  { 
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;   
  }

  to { 
    -webkit-transform: translateX(-25%); 
            transform: translateX(-25%);
    opacity: 0.9; 
  }
}

@keyframes iosFadeLeft {
  from  { 
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;   
  }
  
  to { 
    -webkit-transform: translateX(-25%); 
            transform: translateX(-25%);
    background-color: 000;
    opacity: 0.9; 
  }
}

.iosFadeLeft {
  -webkit-animation-name: iosFadeLeft;
          animation-name: iosFadeLeft;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  -webkit-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
          animation-timing-function: cubic-bezier(.1, .7, .1, 1);
  -webkit-animation-fill-mode: forwards;
  		  animation-fill-mode: forwards;
}


@-webkit-keyframes iosSlideInRight {
  0% {
    opacity: 0.7;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes iosSlideInRight {
  0% {
    opacity: 0.7;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.iosSlideInRight {
  -webkit-animation-name: iosSlideInRight;
          animation-name: iosSlideInRight;
  -webkit-animation-duration: .4s;
          animation-duration: .4s;
  -webkit-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
          animation-timing-function: cubic-bezier(.1, .7, .1, 1);
  -webkit-animation-fill-mode: forwards;
  		  animation-fill-mode: forwards;
}


.contentMask {
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: rgb(255, 255, 255);
	-webkit-box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.1);
	        box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.1);
}


.page {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translate3d(100%, 0, 0);
}

.page.is-visible {
  transform: translate3d(0, 0, 0);
}
