{{!-- Home View -- represents all the views that are needed to --}}
{{!-- form the home "page" or "pane" (which has transitions) --}}

<a class="overlay"></a>

{{#view "home/header" tag="header" className="topcoat-navigation-bar topcoat-grid__row huh_navigation middle"}}
    {{!-- {{#link "settings" expand-tokens=true class="icon icon-gear pull-right"}}{{/link}} --}}
    <div class="topcoat-navigation-bar__item topcoat-grid__column--2">
        <a href="#" class="topcoat-button--quiet button-prev hide">
          <span class="ion-ios7-arrow-left ionicon"></span>
        </a>
      </div>
      <div class="topcoat-navigation-bar__item topcoat-grid__column--auto center">
          <h1 class="topcoat-navigation-bar__title">Heads Up Huntington</h1>
      </div>
      <div class="topcoat-navigation-bar__item  topcoat-grid__column--2">
        <a class="topcoat-button--quiet button settings toggle-settings">
          <span class="ion-ios7-gear ionicon"></span>
        </a>
      </div>
  	</div>
{{!--     <a class="icon icon-bars pull-left "></a>
    <h1 class="title">Vesel Framework</h1>	 --}}
{{/view}}
<div class="huh_navigation--blur"></div>
<div class="topcoat-button-bar full-width">
   <div class="topcoat-button-bar__item">
     <button class="topcoat-button-bar__button full-width">   
        {{#link "" expand-tokens=true class="control-item active"}}List View{{/link}}
     </button>
   </div>
   <div class="topcoat-button-bar__item">
     <button class="topcoat-button-bar__button full-width">
        {{#link "map" expand-tokens=true class="control-item"}}Map View{{/link}}
     </button>
   </div>
</div>
{{!-- <div class="bar bar-standard bar-header-secondary">
	<div class="segmented-control">
		{{#link "" expand-tokens=true class="control-item active"}}List View{{/link}}
		{{#link "map" expand-tokens=true class="control-item"}}Map View{{/link}}
  	</div>
</div> --}}

{{view collectionView}}

{{#view "home/footer" tag="nav" className="footer huh_navigation topcoat-tab-bar full"}}
     <label class="topcoat-tab-bar__item topcoat-navigation-bar__line-height">
       <input type="radio" name="topcoat">
       <button class="topcoat-tab-bar__button full">
         <span class="ion-home ionicon middle"></span>
       </button>
     </label>
     <label class="topcoat-tab-bar__item topcoat-navigation-bar__line-height">
       <input type="radio" name="topcoat">
       <button class="topcoat-tab-bar__button full">
         <span class="ion-map ionicon middle"></span>
       </button>
     </label>
      <label class="topcoat-tab-bar__item topcoat-navigation-bar__line-height">
       <input type="radio" name="topcoat">
       <button class="topcoat-tab-bar__button full">
         <span class="ion-ios7-information-outline ionicon middle"></span>
       </button>
     </label>
{{/view}}