{{!-- Home View -- represents all the views that are needed to --}}
{{!-- form the home "page" or "pane" (which has transitions) --}}

<a class="overlay"></a>

{{#view "home/header" tag="header" className="bar bar-nav"}}
    {{!-- {{#link "settings" expand-tokens=true class="icon icon-gear pull-right"}}{{/link}} --}}
    <a class="icon icon-gear pull-left toggle-settings"></a>
    <h1 class="title">Vesel Framework</h1>	
{{/view}}

<div class="bar bar-standard bar-header-secondary">
	<div class="segmented-control">
		{{#link "" expand-tokens=true class="control-item active"}}List View{{/link}}
		{{#link "map" expand-tokens=true class="control-item"}}Map View{{/link}}
  	</div>
</div>

{{view collectionView}}

{{#view "home/footer" tag="nav" className="bar bar-tab"}}
	<a class="tab-item active" href="#">
		<span class="icon icon-home"></span>
		<span class="tab-label">Home</span>
	</a>
	<a class="tab-item" href="#2">
		<span class="icon icon-person"></span>
		<span class="tab-label">Profile</span>
	</a>
	<a class="tab-item" href="#3">
		<span class="icon icon-gear"></span>
		<span class="tab-label">Settings</span>
	</a>
{{/view}}