{{!-- <div id="home" class="page"> --}}
{{#view "home/header" tag="header" className="bar bar-nav" type="home-header"}}
  <a class="icon icon-gear pull-right"></a>
  <h1 class="title">Vesel Framework</h1>
{{/view}}

<div class="content" data-transition-in="{{transitionIn}}" data-transition-out="{{transitionOut}}">
	{{#collection item-view="AlertsItemView" tag="ul" class="table-view" }}
		{{! Content from the list item (index-item) template auto-inserted here :) }}
	{{/collection}}
</div>

{{#view "home/footer" tag="nav" className="bar bar-tab" type="home-footer"}}
	<a class="tab-item active" href="#">
		<span class="icon icon-home"></span>
		<span class="tab-label">Home</span>
	</a>
	<a class="tab-item" href="#2">
		<span class="icon icon-person"></span>
		<span class="tab-label">Profile</span>
	</a>
	<a class="tab-item" href="#3">
		<span class="icon icon-gear"></span>
		<span class="tab-label">Settings</span>
	</a>
{{/view}}
{{!-- </div> --}}

{{!-- <div id="detail" class="page"></div> --}}