<li id="{{id}}" class="table-view-cell media">
  <a href="#{{id}}" class="navigate-right">
    <img class="media-object pull-left" src="http://placehold.it/42x42">
    <div class="media-body">
      {{category.name}}
      <p>{{subject}}</p>
    </div>
  </a>
</li>