{{view "home/header" tag="header" className="bar bar-nav" type="home-header"}}

<div class="content" data-transition-in="{{transitionIn}}" data-transition-out="{{transitionOut}}">
	{{#collection item-view="AlertsItemView" tag="ul" class="table-view" }}
		{{! Content from the list item (index-item) template auto-inserted here :) }}
	{{/collection}}
</div>

{{view "home/footer" tag="nav" className="bar bar-tab" type="home-footer"}}