{{#view "home/header" tag="header" className="bar bar-nav"}}
  {{#link "" expand-tokens=true class="icon icon-left-nav pull-left"}}{{/link}}
  <h1 class="title">User Profile</h1>
{{/view}}

<div class="bar bar-standard bar-header-secondary">
  <div class="segmented-control">
    {{#link "" expand-tokens=true class="control-item"}}List View{{/link}}
    {{#link "map" expand-tokens=true class="control-item"}}Map View{{/link}}
  </div>
</div>

<article class="content">
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed aliquam tortor. Morbi in erat condimentum, hendrerit turpis quis, consequat purus. Phasellus rutrum rutrum orci, sit amet cursus ligula condimentum a. Pellentesque sit amet dolor posuere, aliquam tortor nec, fringilla mi. Vivamus in viverra felis, quis lacinia velit. Pellentesque vehicula vitae orci non cursus. Proin et tristique dui. Duis ut lacinia quam, eget tincidunt ligula. Quisque sit amet sagittis lacus. Nam posuere odio non magna bibendum, vitae elementum lacus volutpat. Aenean id magna mauris. Ut in vulputate risus. Aliquam accumsan varius nibh, ac dignissim nibh tempus ut. Proin eget placerat urna, id feugiat augue.</p>

	<p>Praesent pulvinar vehicula purus, in tempus mi condimentum mollis. Mauris laoreet lectus est, posuere dapibus quam aliquam vel. Ut in pharetra urna. Mauris consectetur nunc lectus. Fusce tempus facilisis dui id pharetra. Praesent sollicitudin libero ornare, gravida diam id, cursus urna. Vestibulum sagittis aliquet aliquet. Nullam gravida lacus mattis, placerat dui in, vehicula odio. Aliquam iaculis egestas augue, non rutrum ligula ornare ut. Sed in felis vel risus dignissim blandit ac ac mauris. Phasellus nec fringilla mi. Aliquam lacinia fermentum nisl id venenatis. Sed feugiat porta nisl quis bibendum. Phasellus posuere condimentum lacus a bibendum. Praesent id turpis sem. Curabitur laoreet, nibh nec lacinia malesuada, augue magna eleifend lacus, eu ultricies nunc felis vel massa.</p>

	<p>Suspendisse ut velit sed massa varius venenatis ac ac felis. Nunc mattis sem sit amet aliquet consequat. Ut gravida ante tellus, a venenatis purus tristique at. Nunc viverra, nisi sit amet dictum condimentum, nibh ante interdum urna, eu ultrices tellus odio sed magna. Curabitur ut aliquet lorem, in facilisis nunc. Pellentesque ac congue lacus. Quisque quis dignissim ante. Vestibulum consequat augue nec risus luctus, et tincidunt mi consequat. Vestibulum tempor dolor id nunc rhoncus lacinia. Curabitur erat ipsum, ultrices nec faucibus ac, tempus congue nisl. Etiam sollicitudin ut enim at gravida.</p>

	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean pretium mollis eleifend. Sed ultrices interdum ligula, non fringilla elit. Aliquam erat volutpat. Aenean tincidunt odio eget velit congue, at lacinia urna dignissim. Fusce tristique erat eget tortor gravida, id suscipit arcu aliquet. Donec ligula libero, vehicula ac nunc a, vulputate euismod neque.</p>
</article>