{{#view "home/header" tag="header" className="bar bar-nav"}}
  <h1 class="title">Settings</h1>
{{/view}}

<div class="content s-content">
  <ul class="table-view">
  <li class="table-view-cell table-view-divider">Adjust your alert priorities here: </li>
    <li class="table-view-cell">
      <select name="" id="" class="item-select">
        <option value="#">Level 1: </option>
        <option value="#">Level 2: </option>
        <option value="#">Level 3: </option>
        <option value="#">Level 4: </option>
        <option value="#">Level 5: </option>
      </select>
    </li>
    <li class="table-view-cell table-view-divider">Categories</li>
    <li class="table-view-cell">
      <div class="set-police"><span class="set-title">Police</span></div>
      <div class="toggle {{#metadata.0.is_enabled}}active{{/metadata.0.is_enabled}}">
       <input type="checkbox" class="toggle-handle" data-meta-position="0" {{#metadata.0.is_enabled}}checked{{/metadata.0.is_enabled}}>
      </div>
    </li>
    <li class="table-view-cell">
      <div class="set-fire"><span class="set-title">Fire</span></div>
      <div class="toggle {{#metadata.1.is_enabled}}active{{/metadata.1.is_enabled}}">
        <input type="checkbox" class="toggle-handle" data-meta-position="1" {{#metadata.1.is_enabled}}checked{{/metadata.1.is_enabled}}>
      </div>
    </li>
    <li class="table-view-cell">
      <div class="set-traffic"><span class="set-title">Traffic</span></div>
      <div class="toggle {{#metadata.2.is_enabled}}active{{/metadata.2.is_enabled}}">
        <input type="checkbox" class="toggle-handle" data-meta-position="2" {{#metadata.2.is_enabled}}checked{{/metadata.2.is_enabled}}>
      </div>
    </li>
    <li class="table-view-cell">
      <div class="set-school"><span class="set-title">School</span></div>
      <div class="toggle {{#metadata.3.is_enabled}}active{{/metadata.3.is_enabled}}">
        <input type="checkbox" class="toggle-handle" data-meta-position="3" {{#metadata.3.is_enabled}}checked{{/metadata.3.is_enabled}}>
      </div>
    </li>
    <li class="table-view-cell">
      <div class="set-utilities"><span class="set-title">Utilities</span></div>
      <div class="toggle {{#metadata.3.is_enabled}}active{{/metadata.3.is_enabled}}">
        <input type="checkbox" class="toggle-handle" data-meta-position="3" {{#metadata.3.is_enabled}}checked{{/metadata.3.is_enabled}}>
      </div>
    </li>
    <li class="table-view-cell">
      <div class="set-health"><span class="set-title">Health</span></div>
      <div class="toggle {{#metadata.3.is_enabled}}active{{/metadata.3.is_enabled}}">
        <input type="checkbox" class="toggle-handle" data-meta-position="3" {{#metadata.3.is_enabled}}checked{{/metadata.3.is_enabled}}>
      </div>
    </li>
    <li class="table-view-cell">
      <div class="set-other"><span class="set-title">Other/Misc</span></div>
      <div class="toggle {{#metadata.3.is_enabled}}active{{/metadata.3.is_enabled}}">
        <input type="checkbox" class="toggle-handle" data-meta-position="3" {{#metadata.3.is_enabled}}checked{{/metadata.3.is_enabled}}>
      </div>
    </li>
  </ul>
</div>
{{#view "home/footer" tag="nav" className="bar bar-tab" type="home-footer"}}
  <a class="tab-item active" href="#">
    <span class="mbsc-ic mbsc-ic-question"></span>
    <span class="tab-label">Help</span>
  </a>
  {{#link "profile" trigger="close:settings" data-toggle="aside" class="tab-item"}}
    <span class="icon hpd icon-settings__large"></span>
    <span class="tab-label">Community Force</span>
  {{/link}}
{{/view}}