<header class="bar bar-nav">
  <h1 class="title">Settings</h1>
</header>

<div class="content">
  <ul class="table-view">
    <li class="table-view-cell">
      Item 1
      <div class="toggle">
        <input type="checkbox" class="toggle-handle"></input>
      </div>
    </li>
    <li class="table-view-cell table-view-divider">Categories</li>
    <li class="table-view-cell">
      Police
      <div class="toggle">
       <input type="checkbox" class="toggle-handle" data-meta-position="0" {{#enabled}}checked{{/enabled}}>
      </div>
    </li>
    <li class="table-view-cell">
      Fire
      <div class="toggle">
        <input type="checkbox" class="toggle-handle" data-meta-position="1" {{#enabled}}checked{{/enabled}}>
      </div>
    </li>
    <li class="table-view-cell">
      Traffic
      <div class="toggle">
        <input type="checkbox" class="toggle-handle" data-meta-position="2" {{#enabled}}checked{{/enabled}}>
      </div>
    </li>
    <li class="table-view-cell">
      School
      <div class="toggle">
        <input type="checkbox" class="toggle-handle" data-meta-position="3" {{#enabled}}checked{{/enabled}}>
      </div>
    </li>
  </ul>
</div>
{{#view "home/footer" tag="nav" className="bar bar-tab" type="home-footer"}}
  <a class="tab-item active" href="#">
    <span class="icon icon-info"></span>
    <span class="tab-label">Help</span>
  </a>
  <a class="tab-item" href="#2">
    <span class="icon icon-person"></span>
    <span class="tab-label">Profile</span>
  </a>
{{/view}}