<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mscns.headsuphancock" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>HeadsUp Hancock</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    
    <platform name="android">
        <icon src="platforms/android/res/drawable/appicon.png" />
	    <icon src="platforms/android/res/drawable-ldpi/appicon.png" density="ldpi" />
	    <icon src="platforms/android/res/drawable-mdpi/appicon.png" density="mdpi" />
	    <icon src="platforms/android/res/drawable-hdpi/appicon.png" density="hdpi" />
	    <icon src="platforms/android/res/drawable-xdpi/appicon.png" density="xhdpi" />
	    <icon src="platforms/android/res/drawable-xxdpi/appicon.png" density="xxhdpi" />
  </platform>
  
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="3000" />
    <preference name="Orientation" value="portrait" />
</widget>
