<div class="contentMask"></div>
{{#view "detail/header" tag="header" className="bar bar-nav" type="detail-header"}}
  	{{#link "" expand-tokens=true class="icon icon-left-nav pull-left"}}{{/link}}
  	<h1 class="title">Details</h1>
{{/view}}
<div class="content">
	<div class="{{category.name}}__bg {{category.name}}-d__bg">
  		<h4>{{subject}}</h4>
		</div>
	<div class="content-padded">
	  <p>{{information}}</p>
	</div>
</div>
{{#view "detail/footer" tag="nav" className="bar bar-tab" type="detail-footer"}}
  <a class="tab-item active toggle-share">
    <span class="icon icon-share"></span>
    <span class="tab-label">Share This</span>
  </a>
{{/view}}