.navigator-toolbar__content {
  width: 100%;
  height: 100%;
}

.navigator-pager {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.navigator-black-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
}

.navigator-pager.navigate_left {
  -webkit-transform: translate3d(-25%, 0, 0);
  -moz-transform: translate3d(-25%, 0, 0);
  -ms-transform: translate3d(-25%, 0, 0);
  -o-transform: translate3d(-25%, 0, 0);
  transform: translate3d(-25%, 0, 0);
  /*box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2);*/
}

.navigator-pager.navigate_left .navigator-page {
  opacity: 0.9;
}

.navigator-pager.navigator_center {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  /*box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.02);*/
}

.navigator-pager.navigator_center .navigator-page {
  opacity: 1;
}

.navigator-pager.navigate_right {
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  /*box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2);*/
}

.navigator-pager.transition {
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
  -moz-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
  -o-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
  animation-timing-function: cubic-bezier(.1, .7, .1, 1);
}

.navigator-pager .navigator-page {
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
  -moz-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
  -o-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
  animation-timing-function: cubic-bezier(.1, .7, .1, 1);
}

.navigator-title {
  width: 44%;
  left: 28%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.navigator-title.animate-right {
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  opacity: 0;
}

.navigator-title.animate-center {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.navigator-title.animate-left {
  -webkit-transform: translateX(-36%);
  -moz-transform: translateX(-36%);
  -ms-transform: translateX(-36%);
  -o-transform: translateX(-36%);
  transform: translateX(-36%);
  opacity: 0;
}

.navigator-item {
  position: absolute !important;
  top: 0;
  bottom: 1px;
}

/* TODO: */

.navigator-title.transition {
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
  -moz-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
  -o-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
  animation-timing-function: cubic-bezier(.1, .7, .1, 1);
}

.navigator__left-button-container.transition {
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-animation-timing-function: cubic-bezier(.99,.01,.99,.01);
  -moz-animation-timing-function: cubic-bezier(.99,.01,.99,.01);
  -o-animation-timing-function: cubic-bezier(.99,.01,.99,.01);
  animation-timing-function: cubic-bezier(.99,.01,.99,.01);
}

.navigator__left-button-container.hide {
  opacity: 0;
}

.navigator__left-button-container.show {
  opacity: 1;
}

.navigator__left-button-container {
  left: 0;
  width: 20px;
  text-align: right;
}

.fade {
  position: absolute;
  top: 0;
  right: 0;
}

.fade.transition {
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
  -moz-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
  -o-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
  animation-timing-function: cubic-bezier(.1, .7, .1, 1);
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.fade.show {
  opacity: 1;
}

.fade.hide {
  opacity: 0;
}

.navigator__right-button {
  position: absolute;
  padding-right: 10px;
  right: 0;
  width: 13%;
  bottom: 0;
}

.right-section-icon {
  position: relative;
  width: 100%;
}

.navigator-back-label {
  width: 25%;
  left: 0;
  text-align: left !important;
  margin-left: 25px !important;
  padding-left: 0 !important;
}

.navigator-back-label.transition {
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
  -moz-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
  -o-animation-timing-function: cubic-bezier(.1, .7, .1, 1);
  animation-timing-function: cubic-bezier(.1, .7, .1, 1);
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  -o-transition-property: -o-transform, opacity;
  transition-property: -ms-transform, opacity;
  transition-property: transform, opacity;
}

.navigator-back-label.navigate_right {
  -webkit-transform: translateX(120%);
  -moz-transform: translateX(120%);
  -ms-transform: translateX(120%);
  -o-transform: translateX(120%);
  transform: translateX(120%);
  opacity: 0;
}

.navigator-back-label.navigator_center {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}

.navigator-back-label.navigate_left {
  -webkit-transform: translateX(-60%);
  -moz-transform: translateX(-60%);
  -ms-transform: translateX(-60%);
  -o-transform: translateX(-60%);
  transform: translateX(-60%);
  opacity: 0;
}

