.range,
.topcoat-range {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
  -webkit-appearance: none;
}

.range__thumb,
.topcoat-range::-moz-range-thumb {
  cursor: pointer;
}

.range__thumb--webkit,
.topcoat-range::-webkit-slider-thumb {
  cursor: pointer;
  -webkit-appearance: none;
}

.range:disabled,
.topcoat-range:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.topcoat-range {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  height: 2px;
  border-radius: 0;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(#ccc, #ccc);
  background-image: -moz-linear-gradient(#ccc, #ccc);
  background-image: -o-linear-gradient(#ccc, #ccc);
  background-image: linear-gradient(#ccc, #ccc);
  background-position: left center;
  -webkit-background-size: 100% 2px;
  background-size: 100% 2px;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 31px;
}

.topcoat-range::-moz-range-track {
  position: relative;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  background-color: #ccc;
  height: 2px;
  border-radius: 0;
  border-radius: none;
  top: 0;
  margin: 0;
  padding: 0;
}

.topcoat-range::-webkit-slider-thumb {
  position: relative;
  height: 29px;
  width: 29px;
  background-color: transparent;
  background-color: #fff;
  border: 1px solid #1284ff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-radius: 30px;
  -webkit-box-shadow: none;
  box-shadow: none;
  top: 0;
  margin: 0;
  padding: 0;
}

.topcoat-range::-moz-range-thumb {
  position: relative;
  height: 29px;
  width: 29px;
  background-color: transparent;
  border: 1px solid #1284ff;
  border: 1px solid #ddd;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border-radius: 30px;
  -webkit-box-shadow: none;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

.topcoat-range::-webkit-slider-thumb:before {
  position: absolute;
  top: 13px;
  right: 0px;
  left: -1024px;
  width: 1024px;
  height: 2px;
  background-color: #1284ff;
  content: '';
  margin: 0;
  padding: 0;
}