.search-input,
.topcoat-search-input {
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  vertical-align: top;
  outline: none;
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.search-input:disabled,
.topcoat-search-input:disabled {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.topcoat-search-input {
  height: 31px;
  font-size: 15px;
  border: 1px solid #1284ff;
  border: 1px solid #ddd;
  background-color: #fff;
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #c6c8c8;
  color: #a3a3a6;
  padding: 5px 0 5px 28px;
  -webkit-border-radius: 0;
  border-radius: 0;
  border-radius: 4px;
  background-image: url("../img/search.svg");
  background-position: 16px center;
  background-position: 8px center;
  background-repeat: no-repeat;
  -webkit-background-size: 16px;
  background-size: 16px;
  font-weight: 400;
  display: block;
  width: 100%;
  vertical-align: middle;
}

.topcoat-search-input:focus {
  background-color: #fff;
  background-color: #fff;
  color: #1f1f21;
  color: #6f6f74;
  border: none;
  border: 1px solid #ddd;
  -webkit-box-shadow: none, none;
  box-shadow: none, none;
}

.topcoat-search-input::-webkit-search-cancel-button,
.topcoat-search-input::-webkit-search-decoration {
  margin-right: 0px;
  margin-right: 0px;
}

.topcoat-search-input:focus::-webkit-input-placeholder {
  color: var-placeholder-color--input;
}

.topcoat-search-input:disabled::-webkit-input-placeholder {
  color: #1f1f21;
}

.topcoat-search-input:disabled::-moz-placeholder {
  color: #1f1f21;
}

.topcoat-search-input:disabled:-ms-input-placeholder {
  color: #1f1f21;
}
