.switch,
.topcoat-switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.switch__input,
.topcoat-switch__input {
  position: absolute;
  overflow: hidden;
  padding: 0;
  border: 0;
  opacity: 0.001;
  z-index: 1;
  vertical-align: top;
  outline: none;
}

.switch__toggle,
.topcoat-switch__toggle {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.switch__toggle:before,
.switch__toggle:after,
.topcoat-switch__toggle:before,
.topcoat-switch__toggle:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}

.switch--disabled,
.topcoat-switch__input:disabled + .topcoat-switch__toggle {
  opacity: 0.3;
  cursor: default;
  pointer-events: none;
}

.topcoat-switch {
  font-size: 16px;
  padding: 0 20px;
  border: 1px solid #1284ff;
  border: none;
  overflow: hidden;
  width: 51px;
  height: 32px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  z-index: 1;
  margin: 6px 0;
}

.topcoat-switch__toggle:before,
.topcoat-switch__toggle:after {
  top: -1px;
  width: 56px;
  border: 0px solid #ddd;
  margin: -2px 0 0 0;
}

.topcoat-switch__toggle:before {
  content: '';
  color: #4cd964;
  background-color: #4cd964;
  right: -1px;
  padding-left: 24px;
  height: 32px;
  top: 0;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.topcoat-switch__toggle {
  line-height: 36px;
  line-height: 29px;
  height: 36px;
  height: 30px;
  width: 30px;
  -webkit-border-radius: 30px;
  border-radius: 30px;
  color: #c6c8c8;
  text-shadow: 0 1px none;
  background-color: transparent;
  background-color: #fff;
  border: 1px solid #1284ff;
  border: 1px solid #ddd;
  margin-bottom: 0;
  margin-top: 1px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: margin-left 0.35s cubic-bezier(0.5, 1.6, 0.5, 1);
  -moz-transition: margin-left 0.35s cubic-bezier(0.5, 1.6, 0.5, 1);
  -o-transition: margin-left 0.35s cubic-bezier(0.5, 1.6, 0.5, 1);
  transition: margin-left 0.35s cubic-bezier(0.5, 1.6, 0.5, 1);
  margin-left: -19px;
}

.topcoat-switch__toggle:after {
  content: '';
  background-color: #ddd;
  left: -1px;
  padding-left: 32px;
  height: 32px;
  top: 0;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.topcoat-switch__input:checked + .topcoat-switch__toggle {
  margin-left: -1px;
  background-color: #fff;
}

.topcoat-switch__input:active + .topcoat-switch__toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.topcoat-switch__input:focus + .topcoat-switch__toggle {
  border: none;
  border: 1px solid #ddd;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.topcoat-switch__input:disabled + .topcoat-switch__toggle:after,
.topcoat-switch__input:disabled + .topcoat-switch__toggle:before {
  background: transparent;
}

.topcoat-switch__input:checked + .topcoat-switch__toggle:after,
.topcoat-switch__input:checked + .topcoat-switch__toggle:before {
  background-color: #4cd964;
  -webkit-transition: background-color 0.5s cubic-bezier(0.5, 1.6, 0.5, 1);
  -moz-transition: background-color 0.5s cubic-bezier(0.5, 1.6, 0.5, 1);
  -o-transition: background-color 0.5s cubic-bezier(0.5, 1.6, 0.5, 1);
  transition: background-color 0.5s cubic-bezier(0.5, 1.6, 0.5, 1);
}

.topcoat-switch__input + .topcoat-switch__toggle:after,
.topcoat-switch__input + .topcoat-switch__toggle:before {
  background-color: #ddd;
  -webkit-transition: background-color 0.5s cubic-bezier(0.5, 1.3, 0.5, 1);
  -moz-transition: background-color 0.5s cubic-bezier(0.5, 1.3, 0.5, 1);
  -o-transition: background-color 0.5s cubic-bezier(0.5, 1.3, 0.5, 1);
  transition: background-color 0.5s cubic-bezier(0.5, 1.3, 0.5, 1);
}

.topcoat-switch__input:checked + .topcoat-switch__toggle:after {
  -webkit-box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
  box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
}

.topcoat-switch__input + .topcoat-switch__toggle:after {
  -webkit-box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
  box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4);
}