.topcoat-tab-bar {
  height: 49px;
  background-color: #f8f8f8;
  border-top: 1px solid #ffffff;
  width: 100%;
}

.topcoat-tab-bar__button {
  padding: 0;
  height: 49px;
  line-height: 49px;
  letter-spacing: 0;
  color: #888;
  text-shadow: 0 1px none;
  vertical-align: top;
  background-color: transparent;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: 1px solid #1284ff;
  border-top: none;
  width: 100%;
  font-weight: 400;
}

.topcoat-tab-bar__button > i {
  font-size: 24px;
  padding: 0;
  margin: 0;
  line-height: 32px;
  display: block;
  -webkit-text-fill-color: transparent;
  /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #888;
}

.topcoat-tab-bar__button > i + .onsen_tab-bar__label {
  font-size: 10px;
  line-height: 1;
  margin: 0;
  font-weight: 400;
}

.topcoat-tab-bar__button > .onsen_tab-bar__label:first-child {
  font-size: 16px;
  line-height: 49px;
  margin: 0;
  pading: 0;
}

.topcoat-tab-bar__button {
  color: #888;
}

.topcoat-tab-bar__button:active,
.topcoat-tab-bar__button--large:active,
:checked + .topcoat-tab-bar__button {
  color: #1284ff;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-top: none;
}

.topcoat-tab-bar__button:active > i,
.topcoat-tab-bar__button--large:active > i,
:checked + .topcoat-tab-bar__button > i {
  color: #1284ff;
  -webkit-text-fill-color: #1284ff;
  -webkit-text-stroke-width: 0px;
  -webkit-text-stroke-color: #1284ff;
}

.topcoat-tab-bar__button:focus,
.topcoat-tab-bar__button--large:focus {
  z-index: 1;
  border-top: none;
  -webkit-box-shadow: none, none;
  box-shadow: none, none;
  box-shadow: none;
  outline: 0;
}