
//  Custom styles and overides specific to the Heads Up Huntington application.



// Color Variables
// -------------------------------
//
$dark-blue:                       #4f5d73 !default;
$light-blue:                      #76b3d3 !default;
$red:                             #c65c5c !default;
$yellow:                          #f4ce85 !default;
$green:                           #76c2ae !default;
$orange:                          #e0985e !default;
$white:                           #ffffff !default;

$transparent:                     transparent !important;



// .mbsc-lv {
// 	position: absolute !important;
// }

a {
	color: #ffffff
}

h2 {
	font-size: 1em;
	font-weight: 100;
	text-align: center;
	// padding: 5px;
}


//  Header and footer colors 
.bar {
	background-color: rgba(77,99,112,0.92);
}

// Resetting text color to white
.bar-tab .tab-item, 
.icon, 
.tab-label,
.title {
	color: #ffffff;
}



.hidden {
	display: none;
}


.show {
	display: inline-block !important;
}

.set-title {
	padding-left: 30px;
	vertical-align: middle;
}




//  Background colors specific to each alert category

.Traffic__bg {
	background-color: $light-blue;
	color: $white;
}

.Health__bg {
	background-color: $white;
	color: #363636;
}

.Fire__bg {
	background-color: $red;
}

.School__bg {
	background-color: $dark-blue;
	color: $white;
}

.Utilities__bg {
	background-color: $green;
}

.Other__bg {
	background-color: $red;
}

.Police__bg {
	background-color: $dark-blue;
	color: $white;
}


div[class$='-l__bg'] {
	width: 25%;
	position: relative;
	display: inline-block;
}

div[class$='-d__bg'] {
	width: 100%;
	position: relative;
	display: inline-block;
	text-align: center;
	padding: 15px;
}

div[class$='__center'] {
	margin: 10px auto;
}





//  Custom range slider implementation as Ratchet does not contain one by default. 


.table-view-cell__range {
	padding: 30px 15px;
}



input[type="range"]{
	-webkit-appearance: none;
    background: #b8b7b8;
    width: 200px;
    height: 4px !important;
    border-radius: 4px;
    position: relative;
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.2, #5cb85c),
        color-stop(0.2, #b8b7b8)
    );
}

input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	background-color: #666;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #fff;
	box-shadow: 0px 2px 4px rgba(0,0,0,.2);
  	cursor: pointer;
}




// input[type="range"]:before {
// 	position: absolute;
// 	top: 3px;
// 	right: 11px;
// 	font-size: 13px;
// 	color: #999;
// 	text-transform: uppercase;
// 	content: "Off";
// }


// .range__container {
// 	padding: 30px 15px;
// }


// List item custom classes and layout

// li {
// 	margin: 0px !important;
// 	padding: 20 !important;
// }


// li > * {
// 	margin: 0px !important;
// 	padding: 20 !important;
// }
.media-object-cat__bg {
	
}

.media-object__container {
	display: inline-block;
	position: relative;
	// padding: 14px;
	width: 100%;
	height: auto;
}

.mbsc-lv-ios7 .mbsc-lv-item {
	padding: 0 !important;
	margin: 0 !important;
	max-height: 120px;
}

.media-body {
	display: inline-block;
	overflow: hidden;
	position: absolute;
	top: 0;
	/* left: 0; */
	padding: 5px;
	width: 55%;
}



































// #wrapper {
// 	position: relative;
// 	width: 100%;
// 	height: 100%;
// 	overflow: hidden;

// 	/* Prevent native touch events on Windows */
// 	-ms-touch-action: none;

// 	/* Prevent the callout on tap-hold and text selection */
// 	-webkit-touch-callout: none;
// 	-webkit-user-select: none;
// 	-moz-user-select: none;
// 	-ms-user-select: none;
// 	user-select: none;

// 	/* Prevent text resize on orientation change, useful for web-apps */
// 	-webkit-text-size-adjust: none;
// 	-moz-text-size-adjust: none;
// 	-ms-text-size-adjust: none;
// 	-o-text-size-adjust: none;
// 	text-size-adjust: none;
// }

// #scroller {
// 	position: absolute !important;

// 	/* Prevent elements to be highlighted on tap */
// 	-webkit-tap-highlight-color: rgba(0,0,0,0);

// 	/* Put the scroller into the HW Compositing layer right from the start */
// 	-webkit-transform: translateZ(0);
// 	-moz-transform: translateZ(0);
// 	-ms-transform: translateZ(0);
// 	-o-transform: translateZ(0);
// 	transform: translateZ(0);
// }