/*
 * Override the styles to match iOS 7 theme and make them work both 
 * This can be done with styles added to whatever preferred stylesheet
 * for the new UI. I'm using this because Lumbar allows stylesheet 
 * loading based on the module that is called, so these css overrides
 * will ONLY EVER BE APPLIED when a "home" page-view or sub-view is open
 */

/* fooling around with taller header bar and tabs */


/* Fix z-index for map list view incoming animation */
.maplist {
  z-index: 11;
}

#mapmain.map {
  position: absolute;
  top: 88px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  min-height: 350px;
}

.leaflet-top {
  margin-top: 20px;
}

// #range {
//   position: absolute;
//   width: 100%;
//   top: 90px;
//   left: 0;
//   right: 0;
//   height: auto;
// }

// input[type="range"] {
//   display: inline-block!important;
//   vertical-align: middle;
//   height: 12px;
//   padding: 0 2px;
//   border: 2px solid transparent;
//   background: rgba(0,0,0,0.25);
//   min-width: 100px;
//   overflow: hidden;
//   cursor: pointer;
// }

// input[type=range]::-webkit-slider-thumb {
//   background: rgba(255,255,255,0.75);
//   height: 12px;
//   width: 20px;
//   border-radius: 3px;
//   cursor: ew-resize;
//   box-shadow: rgba(0,0,0,0.95) -1200px 0 0 1200px;
// }
// input[type=range], input[type=range]::-webkit-slider-thumb {
//   -webkit-appearance: none;
//   margin: 0;
//   padding: 0;
//   border: 0;
// }

/* Overlay div styling for home-view when its inactive */
a.overlay {
  visibility: hidden;
  z-index: 0;
  display: none;
  width: 0;
  height: 0;
  color: #000;
  overflow: hidden;
}

a.overlay.mask {
  display: block;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #000;
  z-index: 2000;
  opacity: 0.4;
  visibility: visible;
}

/* ratchet overrides -- temporary */

/* make checkboxes work with toggle styling :) default .toggle input does nothing */
.toggle input[type="checkbox"] {
  display: inline-block;
  -webkit-appearance: none;  /* Hide the real checkbox */
          appearance: none;  
  outline: none;  /* remove the blue outline box on focus */
}

.content {
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch !important;
}

/* remove the tap highlight grey color for list item > a elements */
.table-view-cell > a:not(.btn):active {  
  background-color: #fff;
}


/* Add extra padding to last element in the ul list to fix the last item */
.content > .table-view:last-child {
	margin-bottom: 60px;
}

/* adjust the list item to match ratchet & mobiscroll styling together for ios7  */
.mbsc-lv-ios7 .mbsc-lv-item {
	padding: 0.938em 65px 0.938em 15px;
}

/*
 * Overrides for effeckt css 
 */

[data-effeckt-page] {
  position: fixed;
}


.effeckt-off-screen-nav {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
  background: #333333;
  visibility: hidden;
  width: 80%;
}

.effeckt-off-screen-nav ul {
  list-style: none;
}

.effeckt-off-screen-nav li:first-child a {
  border-top: 0;
}

.effeckt-off-screen-nav li:last-child a {
  border-bottom: 0;
}

.effeckt-off-screen-nav li a {
  display: block;
  padding: 0.3rem 1rem;
  color: white;
  border-bottom: 1px solid #444444;
}

.effeckt-off-screen-nav li a:hover,
.effeckt-off-screen-nav li a:focus {
  background: #444444;
}

.effeckt-off-screen-nav li a:active {
  background: #222222;
}

.effeckt-off-screen-nav h4 {
  color: white;
  background: #333333;
  border-bottom: 1px solid #eeeeee;
  padding: 1rem 0.5rem 0.2rem 0;
  margin: 0 1rem 1rem;
  text-transform: uppercase;
  font-size: 0.65rem;
  letter-spacing: 0.1rem;
  position: relative;
}

.effeckt-off-screen-nav-close {
  position: absolute;
  right: 0;
  top: 0.65rem;
  font-size: 150%;
}

.effeckt-off-screen-nav-close:hover,
.effeckt-off-screen-nav-close:focus {
  color: red;
}

.effeckt-off-screen-nav-top-card-deck,
.effeckt-off-screen-nav-bottom-card-deck {
  cursor: pointer;
  background: transparent;
}

.effeckt-off-screen-nav-top-card-deck h4,
.effeckt-off-screen-nav-bottom-card-deck h4 {
  margin: 0;
  padding: 1rem;
  border-bottom: 0;
}

.effeckt-off-screen-nav-top-card-deck li,
.effeckt-off-screen-nav-bottom-card-deck li {
  background-color: #333333;
  border-bottom: 1px solid #eeeeee;
}

.effeckt-off-screen-nav-top-card-deck a,
.effeckt-off-screen-nav-bottom-card-deck a {
  height: 100%;
}

.effeckt-off-screen-nav-top-card-deck .effeckt-off-screen-nav-close,
.effeckt-off-screen-nav-bottom-card-deck .effeckt-off-screen-nav-close {
  right: 1rem;
}

.effeckt-off-screen-nav-bottom-card-deck li {
  border-top: 1px solid #eeeeee;
  border-bottom: none;
}

.effeckt-off-screen-nav-left-bounce,
.effeckt-off-screen-nav-left-bounce-out,
.effeckt-off-screen-nav-right-bounce,
.effeckt-off-screen-nav-right-bounce-out {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}