<div class="content-padded">
  <h4>Your list is empty!</h4>
  <p>
  We're syncing your list with the latest information from the server..
  </p>
  <p>
   If nothing appears here momentarily then there are no active alerts. You may want to check back later.
  </p>
</div>