<div class="content-padded">
  <h4>No Active Alerts</h4>
  <h6>Oops, we're sorry!</h6>
  <p>Apparently there are no new or recent alerts to display at this time. The app automatically refreshes so if a new alert arrives it will show up automatically. Please check back later. </p>
</div>