{{! This template is used by the Application object created
    created in init.js, calling Application.setView() will
    place a view where layout-element is called below. }}



  {{! 
  Using embedded layout from master layout-view we can render all dynamic
  content within the proper div very easily! :) :) this is fun.  
  }}
	{{layout-element tag="div" id="page-wrap"}}

	{{!-- <div id="page2" style="display:none"></div> --}}