{{#view "footer" tag="nav" className="bar bar-tab"}}
	{{#link "profile" expand-tokens=true class="tab-item"}}
		<span class="icon icon-person"></span>
		<span class="tab-label">Profile</span>
	{{/link}}
	{{#link "about" expand-tokens=true class="tab-item"}}
		<span class="icon icon-info"></span>
		<span class="tab-label">About</span>
	{{/link}}
{{/view}}